/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.09.2018, 10:19:10
    Author     : vhoerzi16
*/

.borderLabel, .labelShowSelectedElementm, .treeViewStyle{
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.styleLabelOne{
   -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.labelShowSelectedElement{
       -fx-border-color: blue;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}